[submodule "DJ/vendor/spdlog_module"]
	path = DJ/vendor/spdlog_module
	url = https://github.com/gabime/spdlog
[submodule "DJ/vendor/GLFW"]
	path = DJ/vendor/GLFW
	url = https://github.com/deep-shekhar/glfw
